@import "vars";
@import "libs";
@import "fonts";
@import "global";

.heart {
    width: 300px;
    height: 525px;
    background-color: red;
    border-radius: 150px 150px 0 0;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateX(-35%) rotate(315deg);
    box-shadow: 8px -10px 35px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.7s;
    &:hover {
        // box-shadow: none;
        transform: translateX(-35%) rotate(315deg) scale(0.9);
        box-shadow: 1px -24px 18px -10px rgba(214,23,23,1);
        &::before {
            // box-shadow: none;
            box-shadow: 1px -24px 18px -10px rgba(214,23,23,1);
        }
    }
    &::before {
        content: "";
        width: 300px;
        height: 525px;
        background-color: red;
        border-radius: 150px 150px 0 0;
        position: absolute;
        transform: rotate(-630deg);
        right: -113px;
        top: 112px;
        cursor: pointer;
        transition: all 0.7s;
        box-shadow: 26px -16px 18px 0px rgba(0, 0, 0, 0.75);
    }
}

.choice {
    &__inner {
        display: flex;
        height: 100vh;
    }
    &__make {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__words {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(140, 109, 3, 1) 100%, rgba(0, 212, 255, 1) 100%);
    }
    &__story {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(13, 170, 171, 1) 100%, rgba(0, 212, 255, 1) 100%);
        border-left: 10px dotted red;
    }
    &__link{
        margin: 0 auto;
    }
    &__text{
        padding-bottom: 50px;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        opacity: 0;
        transition: all 0.8s;
        color: #ffffff;
        span{
            color: red;
            font-size: 45px;
        }
    }
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border: 5px solid red;
    padding: 15px;
    background-color: #fff;
    .last__row span{
        font-size: 45px; 
        color: red;
    }
    
}
.wave{
    line-height: 40px;
    font-size: 30px;
}

@import "media";
