@import "vars";
@import "libs";
@import "fonts";
@import "global";

.heart {
    width: 300px;
    height: 525px;
    background-color: red;
    border-radius: 150px 150px 0 0;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateX(-35%) rotate(315deg);
    box-shadow: 8px -10px 35px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.7s;
    &:hover {
        // box-shadow: none;
        transform: translateX(-35%) rotate(315deg) scale(0.9);
        box-shadow: 1px -24px 18px -10px rgba(214, 23, 23, 1);
        &::before {
            // box-shadow: none;
            box-shadow: 1px -24px 18px -10px rgba(214, 23, 23, 1);
        }
    }
    &::before {
        content: "";
        width: 300px;
        height: 525px;
        background-color: red;
        border-radius: 150px 150px 0 0;
        position: absolute;
        transform: rotate(-630deg);
        right: -113px;
        top: 112px;
        cursor: pointer;
        transition: all 0.7s;
        box-shadow: 26px -16px 18px 0px rgba(0, 0, 0, 0.75);
    }
}

.choice {
    &__inner {
        display: flex;
        height: 100vh;
    }
    &__make {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__words {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(140, 109, 3, 1) 100%, rgba(0, 212, 255, 1) 100%);
    }
    &__story {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(13, 170, 171, 1) 100%, rgba(0, 212, 255, 1) 100%);
        border-left: 10px dotted red;
    }
    &__link {
        margin: 0 auto;
    }
    &__text {
        padding-bottom: 50px;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        opacity: 0;
        transition: all 0.8s;
        color: #ffffff;
        span {
            color: red;
            font-size: 45px;
        }
    }
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border: 5px solid red;
    padding: 15px;
    background-color: #fff;
    .last__row span {
        font-size: 45px;
        color: red;
    }
    .heart {
        position: absolute;
        width: 100px;
        height: 175px;
        border-radius: 50px 50px 0 0;
        top: 40%;
        &::before {
            width: 100px;
            height: 175px;
            right: -38px;
            top: 38px;
        }
    }
    .heart.heart__right {
        left: 135%;
        span {
            position: absolute;
            top: 105px;
            left: 25px;
            font-size: 25px;
        }
    }
    .heart.heart__left {
        left: -170%;
        span {
            position: absolute;
            top: 100px;
            left: 25px;
            font-size: 25px;
        }
    }
}
.slick-arrow {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 40%;
    z-index: 1;
    &:focus{
        outline: none;
    }
    span {
        position: absolute;
        top: 100px;
        left: 30px;
        font-size: 25px;
        color: #fff;
    }
    .heart {
        width: 100px;
        height: 175px;
        border-radius: 50px 50px 0 0;
        &::before {
            width: 100px;
            height: 175px;
            right: -38px;
            top: 38px;
        }
    }
}
.slick-next{
    right: 150px;
    

}
.slick-prev{
    left: 150px;
}
.wave {
    line-height: 40px;
    font-size: 30px;
}

.slider {
    &__inner {
        padding-top: 20px;
    }
    &__item {
        height: 80vh;
        width: 60%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        border-radius: 10px;
    }
}
.slider__item{
    span{
        position: absolute;
        bottom: -50px;
        z-index: 9999;
    }
}
.words__slider{
    span{
        text-align: center;
        padding-top: 30px;
        font-size: 45px;
        color: #fff;
        &.red{
            color: red;
        }
    }
}
.links{
    display: flex;
    justify-content: space-between;
    a{
        padding: 5px;
        padding-top: 20px;
        z-index: 3;
        transition: all 0.5s;
        &:hover{
            color: red;
        }
        &:first-child{
            margin-left: 50px;
        }
        &:last-child{
            margin-right: 50px;
        }
    }
}

@import "media";
